body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-image: url(img/img.png);
    background-size: 200vh;
    background-color: #212121;
    
}

h1 {
    font-family: 'Calibri';
    border-radius: 10px;
    border-style: solid;
    border-color: #212121;
    background-color: #212121;
    color: steelblue;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    justify-content: center;
    width: 70%;
}



a {
    color: yellowgreen;
}

main {
    text-align: justify;
    height: 50vh;
    width: 100vh;
    margin: 60px auto;
    background-color: #212121;
    border-radius: 10px;
    border-style: solid;
    border-color: #212121;
}

p {
    color: aqua;
    
    width: 80%;
    margin: 20px auto;
}

.contato {
    background-color: #212121;
    
}

section {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

article {
    border-radius: 10px;
    background-color: gray;
    width: 300px;
}

footer {
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #212121;
    background-color: #212121c2;
    width: 100vh;
}

.fundo {
    background-color: #21212100;
}

